@model Domain.Common.PagedResult<Domain.Models.Dto.Product.GetProductDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cate = TempData["idCate"] == null ? 0 : TempData["idCate"];
    var brandingSS = TempData["branding"] == null ? "" : TempData["branding"];
    var priceMinSS = TempData["priceMin"] == null ? 0 : TempData["priceMin"];
    var priceMaxSS = TempData["priceMax"] == null ? 0 : TempData["priceMax"];
    bool isLocalhost = Context.Request.Host.Host.Equals("localhost", StringComparison.OrdinalIgnoreCase)
                      || Context.Request.Host.Host.Equals("127.0.0.1", StringComparison.OrdinalIgnoreCase);
    var url = "";
    string str = ViewBag.url;
    if (isLocalhost)
    {
        url = "https://localhost:7179";
    }
    else
    {
        url = str;
    }
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Trang-chu.css">
@*     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 *@</head>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Mua sắm</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Trang chủ</a>
                        <span>Mua sắm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-action="Index" asp-controller="Events">
                            <input type="text" name="search" placeholder="...">
                            <input type="text" name="idCate" hidden placeholder="Search...">
                            <input type="text" name="branding"hidden placeholder="Search...">
                            <input type="text" name="priceMin"hidden placeholder="Search...">
                            <input type="text" name="priceMax"hidden placeholder="Search...">
                            <button style=" background:none!important; background-color:black!important" type="submit">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Loại sản phẩm</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate })">All</a></li>
                                                @if (ViewBag.data != null)
                                                {
                                                    foreach (var item in ViewBag.data)
                                                    {
                                                        <li><a href="@Url.Action("Index", "Events", new { idCate = item.Value,branding=brandingSS,priceMin=priceMinSS,priceMax=priceMaxSS })">@item.Text</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Nhãn hiệu</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate })">All</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Louis Vuitton",priceMin=priceMinSS,priceMax=priceMaxSS })">Hòa Phát</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Chanel",priceMin=priceMinSS,priceMax=priceMaxSS })">Hoa Sen</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Hermes",priceMin=priceMinSS,priceMax=priceMaxSS })">Tiền Phong</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Gucci",priceMin=priceMinSS,priceMax=priceMaxSS })">Dismy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Lọc theo giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate })">All</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=0,priceMax=50 })">$0.00 - $50.00</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=50,priceMax=100 })">$50.00 - $100.00</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=100,priceMax=150 })">$100.00 - $150.00</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=150,priceMax=200 })">$150.00 - $200.00</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=200,priceMax=250 })">$200.00 - $250.00</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding=brandingSS,priceMin=250,priceMax=9999 })">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @if (Model != null)
                {
                    <div class="row">
                        @foreach (var item in Model.Items)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@url/user_content/@item.ProductImgs[0].ImagePath">
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="~/Content/img/icon/heart.png" alt=""></a></li>
                                            <li>
                                                <a href="#"><img src="~/Content/img/icon/compare.png" alt=""> <span>Compare</span></a>
                                            </li>
                                            <li><a href="#"><img src="~/Content/img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                        @*<a href="" class="add-cart"> =>Go Detail</a>*@
                                        <a class="add-cart" href="@Url.Action("Details", "Events", new { id = item.IdProduct })">=> Xem chi tiết </a>

                                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                @if ((Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) == 1 || Model.PageCount == 0)
                                {
                                }
                                else
                                {
                                    <a href="@Url.Action("Index",new { pageIndex = 1,serach="" })">F</a>
                                    <a href="@Url.Action("Index",new { pageIndex = (Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex - 1),serach="" })"> @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex - 1)</a>
                                }
                                @if (Model.PageCount != 1 && Model.PageCount != 0)
                                {
                                    <a class="active" href="#">@(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex)</a>

                                }
                                @if ((Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) == Model.PageCount)
                                {

                                }
                                else
                                {
                                    <a href="@Url.Action("Index",new { pageIndex = (Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex + 1),serach="" })"> @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex + 1)</a>
                                    <a href="@Url.Action("Index",new { pageIndex = Model.PageCount,serach="" })">L</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>