@model Domain.Common.PagedResult<Domain.Models.Dto.Product.GetProductDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cate = TempData["idCate"] == null ? 0 : TempData["idCate"];
    var brandingSS = TempData["branding"] == null ? "":TempData["branding"];
    var priceMinSS = TempData["priceMin"] == null ? 0:TempData["priceMin"];
    var priceMaxSS = TempData["priceMax"] == null ? 0:TempData["priceMax"];
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Trang-chu.css">
</head>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate })">All</a></li>
                                                @if (ViewBag.data != null)
                                                {
                                                    foreach (var item in ViewBag.data)
                                                    {
                                                        <li><a href="@Url.Action("Index", "Events", new { idCate = item.Value,branding=brandingSS,priceMin=priceMinSS,priceMax=priceMaxSS })">@item.Text</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate })">All</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Louis Vuitton",priceMin=priceMinSS,priceMax=priceMaxSS })">Louis Vuitton</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Chanel",priceMin=priceMinSS,priceMax=priceMaxSS })">Chanel</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Hermes",priceMin=priceMinSS,priceMax=priceMaxSS })">Hermes</a></li>
                                                <li><a href="@Url.Action("Index", "Events", new { idCate = cate,branding="Gucci",priceMin=priceMinSS,priceMax=priceMaxSS })">Gucci</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                                <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                <li><a href="#">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @if (Model != null)
                {
                    <div class="row">
                        @foreach (var item in Model.Items)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="https://localhost:7179/user_content/@item.ProductImgs[0].ImagePath">
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="~/Content/img/icon/heart.png" alt=""></a></li>
                                            <li>
                                                <a href="#"><img src="~/Content/img/icon/compare.png" alt=""> <span>Compare</span></a>
                                            </li>
                                            <li><a href="#"><img src="~/Content/img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                                        @*<a href="" class="add-cart"> =>Go Detail</a>*@
                                        <a class="add-cart" href="@Url.Action("Details", "Events", new { id = item.IdProduct })">=>Go Detail </a>

                                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                @if ((Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) == 1)
                                {
                                }
                                else
                                {
                                    <a href="@Url.Action("Index",new { pageIndex = 1,serach="" })">F</a>
                                    <a href="@Url.Action("Index",new { pageIndex = (Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex - 1),serach="" })"> @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex - 1)</a>
                                }
                                <a class="active" href="#">@(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex)</a>
                                @if ((Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) == Model.PageCount)
                                {
                                }
                                else
                                {
                                    <a href="@Url.Action("Index",new { pageIndex = (Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex + 1),serach="" })"> @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex + 1)</a>
                                    <a href="@Url.Action("Index",new { pageIndex = Model.PageCount,serach="" })">L</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>